<section>
  <form fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input formControlName="email" type="email" matInput placeholder="Your email">
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Invalid or missing email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" type="password" matInput placeholder="Your password">
      <mat-hint>Please enter your password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Sign In</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
